.card {
  padding: 10px 0;
  width: 470px;
  height: 252px;
}

.card--image {
  width: 125px;
  height: 200px;
  border-radius: 11px;

}

.card-inner-container {
  padding-left: 10px;
}

.card-inner-container>span {
  font-size: 11px;
  font-weight: bold;
}

.card-inner-container>p {
  font-size: 11px;
}

.card--location {
  display: flex;
  width: 470px;
  height: 180px;
  margin-top: 10px;
  margin-bottom: 10px;
  flex-grow: 2;
}

.card--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.card-inner-container>h3 {
  margin-top: 0;
  margin-bottom: 0.5em;
}

.card--header>p {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.25em;
}

.card--header>a {
  color: #918E9B;
  font-size: 10px;
}

p {
  display: inline;
}

span {
  display: block;
  text-align: center;
}

.card-inner-container>p:nth-child(1) {
  padding-right: 10px;
  font-size: large;
  font-weight: bold;
}